.prescription-page{

width:100%;

min-height:100vh;

background:#f5f7fb;

padding-top:40px;

text-align:center;

font-family:Arial;

}



/* Title */

.prescription-page h1{

font-size:32px;

margin-bottom:5px;

}



/* Search Box */

.search-box{

width:400px;

margin:auto;

position:relative;

}



.search-box input{

width:100%;

padding:12px;

border-radius:8px;

border:1px solid #ccc;

font-size:16px;

}



/* Dropdown */

.dropdown{

position:absolute;

width:100%;

background:white;

border-radius:8px;

box-shadow:0px 4px 10px rgba(0,0,0,0.15);

margin-top:5px;

z-index:1000;

}



.dropdown-item{

padding:12px;

cursor:pointer;

border-bottom:1px solid #eee;

}



.dropdown-item:hover{

background:#f0f0f0;

}



/* Medicine Card */

.medicine-card{

width:60%;

margin:30px auto;

background:white;

padding:25px;

border-radius:12px;

box-shadow:0px 5px 15px rgba(0,0,0,0.1);

text-align:left;

}



.medicine-card h2{

text-align:center;

margin-bottom:20px;

}



.medicine-card h3{

margin-top:20px;

color:#2c7be5;

}



/* Loading */

.loading{

margin-top:30px;

font-size:18px;

font-weight:bold;

}